@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/DMSans-Bold.woff2) format(woff2),
    url(./fonts/DMSans-Bold.woff) format(woff);
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/DMSans-Regular.woff2) format(woff2),
    url(./fonts/DMSans-Regular.woff) format(woff);
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/DMSans-Medium.woff2) format(woff2),
    url(./fonts/DMSans-Medium.woff) format(woff);
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/Roboto-Black.woff2) format(woff2),
    url(./fonts/Roboto-Black.woff) format(woff);
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-red: #dd2242;
  --dark-red: #a01f34;
  --blue---background: #010a20;
  --white: #fff;
  --light-grey: #939393;
  --text-lighten: #e0e0e0;
  --grey-reduced: #85a3b2;
  --light-text: #15143966;
  --paragraph-dark: #6f7787;
  --font-family: "DM Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: 0.2s;
}
a:hover {
  color: var(--light-grey);
  transform: scale(1.2);
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  color: currentColor;
  font-family: var(--font-family);
  transition: 0.2s;
}

h1 {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 120px;
  line-height: 108%;
}

h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
}

h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 119%;
}

h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 156%;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

body {
  color: var(--white);
  font-family: var(--font-family);
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  background: url(./images/hero-bg.png) 50% 0 / cover no-repeat;
}

.hero header {
  display: flex;
  padding: 28px 141px 0 28px;
}
.hero header .logo {
  display: flex;
  gap: 6px;
  align-items: end;
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 23px;
  line-height: 81%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--white);
  position: relative;
}
.hero header .logo::after {
  content: "";
  position: absolute;
  top: 37px;
  left: 7px;
  width: 166px;
  height: 20px;
  background: linear-gradient(180deg, #01849500 0%, #018394 100%);
  opacity: 0.7;
}
.hero header nav {
  margin-left: 5vw;
}
.hero header nav ul {
  display: flex;
  gap: 62px;
  height: 100%;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.hero header .nav-btn {
  display: flex;
  gap: 40px;
  margin-left: auto;
  align-items: center;
}
.hero header .nav-btn button {
  height: 24px;
  aspect-ratio: 1;
}

.hero .body {
  display: flex;
  position: relative;
}
.hero .body .left {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  height: 100%;
  display: flex;
  gap: 12.45vw;
  padding-right: 3.39vw;
  margin-top: -2.29vw;
  font-weight: 700;
  font-size: 16px;
}
.hero .body .left .social-networks {
  display: flex;
  gap: 45px;
}
.hero .body .left .line::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 396px;
  background-color: var(--white);
  margin-top: 20px;
  left: 30px;
}
.hero .body .left .line::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100px;
  background-color: var(--main-red);
  margin-top: 311px;
  left: 29px;
}
.hero .body .main {
  margin-left: 14.43vw;
  margin-top: 9.84vw;
}
.hero .body .main h1 {
  text-transform: uppercase;
}
.hero .body .main button {
  border-radius: 211px;
  padding: 20px;
  width: 271px;
  height: 82px;
  background: var(--main-red);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #ffffffcc;
  margin-top: 1.1vw;
  margin-bottom: 12.55vw;
}
.hero .body .main button:hover {
  background: var(--dark-red);
}
.hero .body .main .footer {
  display: flex;
  background-color: #00000099;
  padding: 2.08vw 6.67vw 2.6vw 3.7vw;
  gap: 10.31vw;
}
.hero .body .main .footer .card span {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--main-red);
}
.hero .body .main .footer .card p {
  letter-spacing: 0.03em;
  color: var(--light-grey);
}

.hero .body .video {
  align-self: end;
  position: relative;
  display: flex;
}
.hero .body .video button {
  position: absolute;
  top: 35%;
  left: 36%;
  background-color: var(--white);
  border-radius: 50%;
  width: 78px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  transition: 0.2s;
}
.hero .body .video button:hover {
  background: var(--light-grey);
  cursor: pointer;
}

/* 2nd section - articles  */

.articles {
  background: url(./images/atricles-bg.png) 50% 0 / cover no-repeat;
}
.articles .container {
  padding: 10.78vw 15.63vw 15.88vw 17.81vw;
}
.articles .container .group {
  display: flex;
  gap: 6.77vw;
}
.articles .container .group .text {
  padding-top: 3.02vw;
}
.articles .container .group .text p {
  letter-spacing: 0.01em;
  color: var(--text-lighten);
  margin-top: 20px;
  margin-bottom: 1.67em;
}
.articles .container .group .text button {
  border-radius: 32px;
  padding: 16px 24px;
  width: 179px;
  height: 59px;
  background: var(--main-red);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}
.articles .container .group:not(:first-child) {
  flex-direction: row-reverse;
  margin-top: 10vw;
}
.articles .container .group .text button:hover {
  background: var(--dark-red);
}

/* 3rd section - explore  */

.explore {
  background: url(./images/explore-bg.png) 50% 0 / cover no-repeat;
  justify-items: center;
}
.explore h3 {
  font-size: 50px;
  color: var(--blue---background);
  padding-top: 127px;
  text-align: center;
}
.explore .owl-carousel {
  margin-top: 45px;
  position: relative;
  margin-bottom: 1087px;
  max-width: 66.5vw;
}

.explore .owl-carousel img {
  width: 21.09vw;
  min-width: 314px;
  height: auto;
  justify-self: center;
}
.explore .owl-carousel .owl-nav {
  position: absolute;
  display: flex;
  gap: 76vw;
  left: -6vw;
  top: 40%;
}
.explore .owl-carousel .owl-nav .owl-prev,
.explore .owl-carousel .owl-nav .owl-next {
  width: 15px;
  height: 24px;
}
.explore .owl-carousel .owl-nav .owl-prev {
  background: url(./icons/left-arrow.png);
}
.explore .owl-carousel .owl-nav .owl-next {
  background: url(./icons/right-arrow.png);
}
.explore .owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 15px;
}
.explore .owl-carousel .owl-dots .owl-dot {
  width: 19px;
  aspect-ratio: 1;
  background-color: var(--grey-reduced);
  border-radius: 50%;
}
.explore .owl-carousel .owl-dots .active {
  width: 50px;
  height: 19px;
  background-color: var(--main-red);
  border-radius: 60px;
}
.explore .numbers {
  justify-items: center;
  text-align: center;
  padding-bottom: 225px;
}
.explore .numbers > span {
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
}
.explore .numbers > p {
  letter-spacing: 0.03em;
  color: var(--text-lighten);
  max-width: 485px;
  margin-top: 35px;
  margin-bottom: 50px;
}
.explore .numbers .showcase {
  display: flex;
  gap: 6.75vw;
}
.explore .numbers .showcase .card {
  max-width: 340px;
  justify-items: center;
}
.explore .numbers .showcase .card span {
  font-weight: 700;
  font-size: 42px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: var(--main-red);
}
.explore .numbers .showcase .card p {
  letter-spacing: 0.03em;
  color: var(--text-lighten);
  margin-top: 20px;
}

/* 4th section - map  */

.map {
  background: url(./images/map-bg.png) 100% 0 / cover no-repeat;
  justify-items: center;
  text-align: center;
}
.map h3 {
  color: #000;
  max-width: 614px;
  padding-top: 250px;
}
.map p {
  margin-top: 32px;
  margin-bottom: 36px;
  max-width: 470px;
  letter-spacing: 0.03em;
  color: var(--paragraph-dark);
}
.map button {
  border-radius: 122px;
  padding: 16px 24px;
  width: 210px;
  height: 64px;
  background: var(--main-red);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 256px;
}
.map button:hover {
  background-color: var(--dark-red);
}

/* 5th section - video  */

.videos {
  background: url(./images/video-bg.png) 50% 0 / cover no-repeat;
  padding-top: 150px;
  padding-bottom: 255px;
  justify-items: center;
}
.videos h3 {
  max-width: 1050px;
  text-align: center;
  margin-bottom: 100px;
}
.videos .preview {
  width: 55vw;
  height: 30.94vw;
  background: url(./images/preview.png) 50% 0 / cover no-repeat;
  margin-bottom: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 314px;
  min-height: 192px;
}
.videos .preview button {
  width: 5vw;
  min-width: 67px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--main-red);
  display: flex;
  padding-left: 3px;
  justify-content: center;
  align-items: center;
}
.videos .showcase {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--white);
  display: flex;
  gap: 75px;
}
.videos .showcase .card {
  display: flex;
  width: 31.25vw;
  gap: 40px;
  position: relative;
}
.videos .showcase .card img {
  width: 233px;
  height: 151px;
}
.videos .showcase .card > button {
  position: absolute;
  top: 65px;
  left: 115px;
}
.videos .showcase .card > button:hover {
  cursor: pointer;
  scale: 1.5;
}
.videos .showcase .card .text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.videos .showcase .card .text p {
  letter-spacing: 0.03em;
  color: var(--white);
  opacity: 0.7;
}
.videos .preview button:hover {
  background: var(--dark-red);
}

/* 6th section - gallery  */

.gallery {
  background: var(--white);
  padding: 175px 375px 230px;
  text-align: center;
  justify-items: center;
}
.gallery h2 {
  color: var(--blue---background);
}
.gallery p {
  letter-spacing: 0.01em;
  color: var(--paragraph-dark);
  max-width: 510px;
  margin-top: 40px;
  margin-bottom: 70px;
}
.gallery .photo-grid {
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(4, 177.5px);
}
.gallery .photo-grid .box1 {
  grid-area: 1 / 1 / 4 / 2;
}
.gallery .photo-grid .box2 {
  grid-area: 1 / 2 / 2 / 3;
}
.gallery .photo-grid .box3 {
  grid-area: 1 / 3 / 3 / 4;
}
.gallery .photo-grid .box4 {
  grid-area: 4 / 1 / 5 / 2;
  align-self: end;
}
.gallery .photo-grid .box5 {
  grid-area: 2 / 2 / 5 / 3;
  align-self: end;
}
.gallery .photo-grid .box6 {
  grid-area: 3 / 3 / 5 / 4;
  align-self: end;
}

/* 7th section - getting  */
.getting {
  background: #dce8f2;
  padding: 120px 380px;
}
.getting h2 {
  color: var(--blue---background);
  margin-left: -30px;
}
.getting .body {
  margin-top: 45px;
  margin-bottom: 120px;
}
.getting .body h4 {
  color: var(--blue---background);
}
.getting .body p {
  font-size: 23px;
  line-height: 162%;
  color: var(--light-text);
}
.getting .body .booking,
.getting .body .choosing,
.getting .body .travelling {
  padding-bottom: 80px;
  border-left: 2px solid #15143933;
  padding-left: 100px;
}
.getting .body .booking h4,
.getting .body .choosing h4,
.getting .body .planning h4 {
  margin-bottom: 30px;
}
.getting .body .travelling {
  display: flex;
  gap: 45px;
}
.getting .body .travelling img {
  width: 250px;
  height: 166px;
}
.getting .body .travelling .text p {
  margin-top: 15px;
  max-width: 450px;
}
.getting .body .planning {
  padding-left: 100px;
}
.getting .body .planning button {
  border-radius: 122px;
  padding: 16px 24px;
  width: 210px;
  height: 64px;
  background: var(--main-red);
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.getting .body .planning button:hover {
  background: var(--dark-red);
}
.getting .body .booking,
.getting .body .choosing,
.getting .body .planning {
  position: relative;
}
.getting .body .booking::before {
  content: "1";
}
.getting .body .choosing::before {
  content: "2";
}
.getting .body .planning::before {
  content: "3";
}
.getting .body .booking::before,
.getting .body .choosing::before,
.getting .body .planning::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -30px;
  top: -10px;
  width: 59px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--main-red);
  font-weight: 500;
  font-size: 26px;
  line-height: 144%;
}

/* 8th section - footer  */

footer {
  background: var(--blue---background);
  height: 135px;
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 150px;
  position: relative;
}
footer .left {
  display: flex;
  align-items: center;
}
footer .left .logo {
  display: flex;
  align-items: end;
  gap: 10px;
  margin-right: 6.5vw;
}
footer .left .logo span {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 23px;
  line-height: 90%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
footer .left .logo span b {
  color: var(--main-red);
}
footer .left nav ul {
  display: flex;
  gap: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
}
footer .right {
  display: flex;
  align-items: center;
}
footer .right .social {
  display: flex;
  gap: 25px;
  margin-right: 50px;
}
footer .right .social a {
  display: flex;
  align-items: center;
}
footer .right > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
}
footer .right > button {
  width: 104px;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  background: var(--main-red);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
  top: -55px;
}
footer .right > button a {
  padding: 38px 33px;
}
footer .right > button:hover {
  background: var(--dark-red);
}

/* MEDIA  */

@media (max-width: 1600px) {
  .hero .body .main .footer {
    gap: 5vw;
  }
  .articles .container {
    padding: 5vw;
  }
  .videos {
    padding-block: 100px;
  }
  .videos .showcase {
    flex-direction: column;
  }
  .videos .showcase .card {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .videos .showcase .card img {
    width: 314px;
    height: 176px;
  }
  .videos .showcase .card > button {
    top: 80px;
    left: 48%;
  }
  .getting {
    padding: 100px;
  }
}

@media (max-width: 1300px) {
  .hero .body .left {
    display: none;
  }
  .hero .body .main {
    margin-left: 8vw;
  }
  .gallery {
    padding: 100px;
  }
  .gallery .photo-grid {
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .gallery .photo-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .gallery .photo-grid .box1 {
    grid-area: 1 / 1 / 6 / 2;
  }
  .gallery .photo-grid .box2 {
    grid-area: 1 / 2 / 3 / 3;
  }
  .gallery .photo-grid .box3 {
    grid-area: 8 / 1 / 13 / 2;
  }
  .gallery .photo-grid .box4 {
    grid-area: 6 / 1 / 8 / 2;
    align-self: normal;
  }
  .gallery .photo-grid .box5 {
    grid-area: 3 / 2 / 8 / 3;
    align-self: end;
  }
  .gallery .photo-grid .box6 {
    grid-area: 8 / 2 / 13 / 3;
    align-self: normal;
  }
}

@media (max-width: 1200px) {
  .hero header {
    padding-right: 50px;
  }
  .hero .body .video button {
    top: 30%;
  }
  .hero .body .video img {
    width: 314px;
    height: 191px;
  }
  .articles .container {
    padding-inline: clamp(30px, 15vw, 200px);
  }
  .articles .container .group,
  .articles .container .group:not(:first-child) {
    flex-direction: column;
  }

  .explore .numbers .showcase {
    gap: 1vw;
  }

  footer {
    flex-direction: column;
    height: auto;
    padding: 50px;
    justify-content: center;
    gap: 30px;
  }
  footer .left,
  footer .right {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .hero header .logo {
    font-size: 20px;
    background: linear-gradient(180deg, #fff 70%, #ffffff00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero header .logo::after {
    display: none;
  }
  .hero header .logo svg {
    width: 42px;
    height: 42px;
  }
  .hero header nav {
    display: none;
  }
  .hero .body {
    flex-direction: column;
    margin-inline: 8vw;
  }
  .hero .body .main {
    margin-top: 16.5vw;
    margin-left: 0;
    text-align: center;
  }
  .hero .body .main h1 {
    font-size: clamp(58px, 12vw, 120px);
    text-align: start;
  }
  .hero .body .main button {
    border-radius: 108px;
    padding: 10px;
    width: 315px;
    height: 59px;
    font-size: 18px;
    margin-top: 2.13vw;
    margin-bottom: 7vw;
  }
  .hero .body .main .footer {
    text-align: start;
  }
  .hero .body .video {
    align-self: center;
    margin-block: 5vw;
  }
  .hero .body .video img {
    width: 417px;
    height: 254px;
  }
  .hero .body .video button {
    top: 35%;
  }

  .explore {
    height: 2850px;
  }
  .explore .owl-carousel {
    max-width: 80vw;
    margin-bottom: 1400px;
  }
  .explore .owl-carousel .owl-nav {
    gap: 90vw;
  }
  .explore .numbers {
    padding-bottom: 70px;
  }
  .explore .numbers .showcase {
    flex-direction: column;
    gap: 80px;
  }

  .videos h3 {
    max-width: 80%;
  }

  .getting h2 {
    margin-left: 0;
    text-align: center;
    margin-bottom: 130px;
  }
  .getting .body .booking,
  .getting .body .choosing,
  .getting .body .travelling,
  .getting .body .planning {
    padding: 0;
    border: none;
  }
  .getting .body .booking,
  .getting .body .travelling,
  .getting .body .planning {
    margin-bottom: 110px;
  }
  .getting .body .booking::before,
  .getting .body .choosing::before,
  .getting .body .planning::before {
    top: -80px;
    left: 47%;
  }
  .getting .body .booking h4,
  .getting .body .choosing h4,
  .getting .body .planning h4 {
    text-align: center;
  }
  .getting .body .choosing {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .explore .owl-carousel .owl-nav {
    left: 3vw;
    gap: 70vw;
  }

  .videos .showcase .card {
    width: 80%;
    margin-inline: auto;
  }
  .gallery {
    padding-bottom: 0;
  }

  .getting {
    padding: 50px;
  }
  .getting h2 {
    margin-bottom: 120px;
  }
  .getting .body {
    text-align: center;
  }
  .getting .body .travelling {
    flex-direction: column;
    align-items: center;
  }
  .getting .body .travelling img {
    width: 83.75vw;
    height: auto;
  }
}

@media (max-width: 600px) {
  .hero .body .main button {
    margin-bottom: 14.4vw;
  }
  .hero .body .main .footer {
    flex-direction: column;
    padding: 9.33vw 19.2vw 8vw 8.53vw;
    margin-bottom: 0;
  }
  .hero .body .video {
    margin-top: 0;
    margin-bottom: 10.67vw;
  }
  .hero .body .video img {
    width: 314px;
    height: 191px;
  }
  .articles .container {
    padding: 40px 30px;
  }
  .articles .container .group img {
    min-width: 314px;
  }
  .articles .container .group .text h3 {
    font-size: 40px;
    line-height: 115%;
  }
  .articles .container .group .text p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
  }
  .articles .container .group .text button {
    display: block;
    border-radius: 32px;
    padding: 16px 24px;
    width: 314px;
    height: 72px;
    justify-self: center;
  }

  .explore h3 {
    font-size: 40px;
    line-height: 115%;
  }
  .explore .owl-carousel .owl-nav {
    gap: 85vw;
    left: -7vw;
  }
  .explore .numbers {
    padding-bottom: 18.4vw;
  }
  .explore .numbers > span {
    font-size: 40px;
    line-height: 115%;
  }
  .explore .numbers > p {
    font-size: 16px;
    line-height: 150%;
    max-width: 314px;
  }

  .map h3 {
    font-size: 40px;
    line-height: 115%;
    max-width: 80%;
    padding-top: 171px;
  }
  .map p {
    font-size: 16px;
    line-height: 150%;
    max-width: 80%;
  }
  .map button {
    border-radius: 122px;
    padding: 16px 24px;
    width: 314px;
    height: 73px;
    margin-bottom: 116px;
  }

  .videos {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .videos h3 {
    font-size: 40px;
    line-height: 115%;
    margin-bottom: 50px;
  }
  .videos .preview {
    margin-bottom: 40px;
  }
  .videos .showcase {
    gap: 40px;
  }

  .gallery {
    padding: 40px 30px 0;
  }
  .gallery h2 {
    font-size: 40px;
    line-height: 115%;
  }
  .gallery p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    margin-block: 20px;
  }

  .getting {
    padding: 30px;
  }
  .getting h2 {
    font-size: 40px;
    line-height: 115%;
  }

  .getting .body .booking::before,
  .getting .body .choosing::before,
  .getting .body .planning::before {
    top: -70px;
    left: 45%;
  }
  .getting .body .travelling .text {
    max-width: 100%;
  }
  .getting .body .booking h4,
  .getting .body .choosing h4,
  .getting .body .planning h4 {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 150%;
  }
  .getting .body .travelling {
    gap: 40px;
  }
  .getting .body .travelling .text h4,
  .getting .body .planning button {
    display: none;
  }

  .getting .body .booking p,
  .getting .body .choosing p,
  .getting .body .travelling .text p,
  .getting .body .planning p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    margin-inline: auto;
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }
  .getting .body .booking h4::after,
  .getting .body .choosing h4::after,
  .getting .body .planning h4::after {
    content: "Show more";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-red);
    position: absolute;
    top: 95%;
    left: 40%;
  }
  .getting .body,
  .getting .body .planning {
    margin-bottom: 70px;
  }

  footer {
    padding: 145px 85px;
    gap: 35px;
  }
  footer .left,
  footer .right {
    flex-direction: column;
    justify-content: center;
    gap: 35px;
  }
  footer .left .logo,
  footer .right .social {
    margin-right: 0;
  }
  footer .left nav ul {
    flex-direction: column;
    text-align: center;
    font-size: 22px;
  }
  footer .right .social a > svg {
    width: 22px;
    height: 21px;
  }
  footer .right .social a:is(:first-child) > svg {
    width: 11px;
    height: 20px;
  }
  footer .right .social a:is(:last-child) > svg {
    width: 19px;
    height: 19px;
  }
  footer .right > span {
    font-size: 23px;
  }
  footer .right > button {
    right: auto;
  }
}
